body{
    background-color: gray;
    color: white;
    margin: 0;
}

#a{
    background-color: green;
}
#b{
    background-color: red;
}
#c{
    background-color: rebeccapurple;
}
#d{
    background-color: blue;
}

.box{
    margin: 9px;
    padding: 1px;
}
